.viewbooking{

    background-image:url("/assets/images/airplane2.jpg");
    background-size: cover;
    background-position:cover;

    background-color: rgb(179, 179, 227);
    margin-left : 0.5%;
    width: 1300px;
    height: 500px;
}


